<%= form_for(@application) do |f| %>

<div class="col-xs-10 col-xs-offset-1">
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="jumbotron col-md-10 col-md-offset-1">

<fieldset class="row"> 
  <legend> <%="Business Information"%> </legend>
    
  <div class="col-sm-6">
    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :legalname, "Legal Name of Business" %><br>
        <%= f.text_field :legalname, class: "form-control" %>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :address, "Address" %><br>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group col-sm-8">
        <%= f.label :city, "City" %><br>
        <%= f.text_field :city, class: "form-control" %>
      </div>
  
      <div class="form-group col-sm-4">
        <%= f.label :state, "State" %><br>
        <%= f.text_field :state, class: "form-control" %>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :zip, "Zip Code" %><br>
        <%= f.text_field :zip, class: "form-control" %>
      </div> 

      <div class="form-group col-sm-6">
        <%= f.label :phone, "Phone Number" %><br>
        <%= f.telephone_field :phone, class: "form-control" %>
      </div>
    
      <div class="form-group col-sm-6">
        <%= f.label :fax, "Fax Number" %><br>
        <%= f.telephone_field :fax, class: "form-control" %>
      </div>               
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">       
      <div class="form-group col-sm-12">
        <%= f.label :dba, "Doing Business As" %><br>
        <%= f.text_field :dba, class: "form-control" %>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :baddress, "DBA Address" %><br>
        <%= f.text_field :baddress, class: "form-control" %>
      </div>

      <div class="form-group col-sm-8">
        <%= f.label :bcity, "DBA City" %><br>
        <%= f.text_field :bcity, class: "form-control" %>
      </div>

      <div class="form-group col-sm-4">
        <%= f.label :bstate, "DBA State" %><br>
        <%= f.text_field :bstate, class: "form-control" %>
      </div>
    
      <div class="form-group col-sm-12">
        <%= f.label :bzip, "DBA Zip Code" %><br>
        <%= f.text_field :bzip, class: "form-control" %>
      </div> 
    
      <div class="form-group col-sm-6">
        <%= f.label :bphone, "DBA Phone Number" %><br>
        <%= f.telephone_field :bphone, class: "form-control" %>
      </div>
    
      <div class="form-group col-sm-6">
        <%= f.label :bfax, "DBA Fax Number" %><br>
        <%= f.telephone_field :bfax, class: "form-control" %>
      </div>        
    </div>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :ftin, "Federal Tax ID # (FTIN)" %><br>
    <%= f.password_field :ftin, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :email, "Email" %><br>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :contact, "Contact" %><br>
    <%= f.text_field :contact, class: "form-control" %>
  </div>   
</fieldset>

<fieldset class="row">
  <legend> <%="Owner or Officer Information"%> </legend>
  
  <div class="form-group col-sm-6">
    <%= f.label :oname, "Name" %><br>
    <%= f.text_field :oname, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :dob, "Date of Birth" %><br>
    <%= f.text_field :dob, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :ssn, "Social Security Number" %><br>
    <%= f.password_field :ssn, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :ophone, "Phone" %><br>
    <%= f.telephone_field :ophone, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-12">
    <%= f.label :oaddress, "Current Address" %><br>
    <%= f.text_field :oaddress, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :ocity, "City" %><br>
    <%= f.text_field :ocity, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-2">
    <%= f.label :ostate, "State" %><br>
    <%= f.text_field :ostate, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-4">
    <%= f.label :ozip, "Zip Code" %><br>
    <%= f.text_field :ozip, class: "form-control" %>
  </div>
</fieldset>

<fieldset class="row">
  <legend> <%="POB Setup and Programming Information"%> </legend>
  
  <div class="form-group col-sm-6">
    <%= f.label :avgt, "Average Ticket" %><br>
    <%= f.text_field :avgt, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :monv, "Monthly Volume" %><br>
    <%= f.text_field :monv, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-12">
    <%= f.label :maxta, "Max transaction amount (up to $1,000.00)" %><br>
    <%= f.text_field :maxta, class: "form-control" %>
  </div>
  
  <%= f.label "Quick Cash Increments", class: "col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left" %>
  <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left radio-row">
    <label class="radio-inline">
      <%= f.radio_button :qc, "$10", id: "first" %>
      <%= f.label :qc, "$10" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :qc, "$15", id: "second" %>
      <%= f.label :qc, "$15" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :qc, "$20", id: "third" %>
      <%= f.label :qc, "$20" %>
    </label>   
  </div>
  
  <%= f.label "Time Zone where merchant is located", class: "col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left" %>
  <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left radio-row">
    <label class="radio-inline">
      <%= f.radio_button :tz, "Eastern", id: "first" %>
      <%= f.label :tz, "Eastern" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :tz, "Central", id: "second" %>
      <%= f.label :tz, "Central" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :tz, "Mountain", id: "third" %>
      <%= f.label :tz, "Mountain" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :tz, "Pacific", id: "fourth" %>
      <%= f.label :tz, "Pacific" %>
    </label>        
  </div>
  
  <%= f.label "Does the phone need 9 or 8 as a prefix?", class: "col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left" %>
  <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left radio-row">
    <label class="radio-inline">
      <%= f.radio_button :pref, "Yes", id: "first" %>
      <%= f.label :pref, "Yes" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :pref, "No", id: "second" %>
      <%= f.label :pref, "No" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :prefn, "9", id: "third" %>
      <%= f.label :prefn, "9" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :prefn, "8", id: "fourth" %>
      <%= f.label :prefn, "8" %>
    </label>        
  </div>  
  
  <%= f.label "Will the terminal be on a line with call waiting?", class: "col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left" %>
  <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left radio-row">
    <label class="radio-inline">
      <%= f.radio_button :cw, "Yes", id: "first" %>
      <%= f.label :cw, "Yes" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :cw, "No", id: "second" %>
      <%= f.label :cw, "No" %>
    </label> 
  </div>  
  
  <%= f.label "What type of phone line will the terminal be placed on?", class: "col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left" %>
  <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left phone-line">
    <label class="radio-inline">
      <%= f.radio_button :pl, "Dedicated Analogue", id: "first" %>
      <%= f.label :pl, "Dedicated Analogue" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :pl, "IP Line", id: "second" %>
      <%= f.label :pl, "IP Line" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :pl, "Splitter with Fax", id: "third" %>
      <%= f.label :pl, "Splitter with Fax" %>
    </label>   
  </div>
</fieldset>

<fieldset class="row">
  <legend> <%= "Payment Authorization" %></legend>
  
  <article class="text-justify">
  <p>
    I hereby authorize BPOB and/or its authorized financial institution to initiate credit entries and any necessary 
    adjustments to my bank account at the financial institution indicated above on my voided check as it applies to this 
    contract only. This authority is to remain in full force and effect until BPOB has received a written notice from me of 
    its termination, allowing reasonable time and opportunity for BPOB or their authorized agents and financial institution
    in advance of the occasion of change in any of my financial information contained above (Minimum 30 days).
  </p>   
  
  <p>  
    I understand that if the total amount owed to the Service Provider is increased, I authorize this plan to continue as long as the 
    payment amount remains unchanged until the amount owed the Service Provider is paid off, or unless the plan is terminated 
    earlier by me as above. I understand any added amounts can be applied for with a new ACH Debit Authorization Form. All 
    other changes such as payment amount, frequency, bank account number change, will require a new ACH Debit Payment 
    Authorization Form to be filled out and submitted to Merchant 15 days prior to any change being implemented.
  </p>   
    
  <p>  
    I understand that this payment plan may be cancelled by the Service Provider or Merchant due to NSF (Non-sufficient Funds). I will be 
    liable to pay an NSF fee of $25.00 (or the amount allowable by law), which may be automatically debited for each NSF. 
    I represent and warrant that I am authorized to execute this payment authorization for the purpose of implementing this 
    payment plan. I indemnify and hold the Service Provider, the bank, harmless from damage, loss or claim resulting from all 
    authorized actions hereunder. 
  </p>
  </article>
  
  <div class="form-group col-sm-6">
    <%= f.label :osig, "Signature of Owner/Officer" %><br>
    <%= f.text_field :osig, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :date, "Date" %><br>
    <%= f.text_field :date, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :opn, "Print Name of Owner/Officer" %><br>
    <%= f.text_field :opn, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :sasig, "Sales Agent Signature" %><br>
    <%= f.text_field :sasig, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :agentid, "Agent ID Number" %><br>
    <%= f.text_field :agentid, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :iso, "ISO Name" %><br>
    <%= f.text_field :iso, class: "form-control" %>
  </div>
    
</fieldset>

<fieldset class="row text-left">
  <legend> <%= "Counter Top Units and Fees" %></legend>
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :dialup, "*Equipment Cost" %>
    <%= f.check_box :dialup %>
    <%= f.label :dialup, "VX510 Dial up Terminal & Pin Pad: $N/A" %>
  </div>
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :dumi, "Merchant's Initials" %>
    <%= f.text_field :dumi, size: 5 %>
  </div>
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :dualcom, "*Equipment Cost" %>
    <%= f.check_box :dualcom %>
    <%= f.label :dualcom, "VX510 Dual Com Terminal & Pin Pad: $650.00" %>
  </div>
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :dcmi, "Merchant's Initials" %>
    <%= f.text_field :dcmi, size: 5 %>
  </div> 
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :msf12mi, "**Monthly statement fee of $12.00 per month. Online statements only." %>
  </div>  
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :msf12mi, "Merchant's Initials" %>
    <%= f.text_field :msf12mi, size: 5 %>
  </div>  
</fieldset>

<fieldset class="row text-left">
  <legend> <%= "Wireless Unit and Fees" %></legend>

  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :mi610, "*Equipment Cost for VX610 Wireless Terminal: $750.00 (Introductory Offer)" %>
  </div>  
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :mi610, "Merchant's Initials" %>
    <%= f.text_field :mi610, size: 5 %>
  </div>
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :mcfmi, "****Monthly Cellular Fee: $34.95. Billed by BPOB (First & Last upfront: $69.90)" %>
  </div>  
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :mcfmi, "Merchant's Initials" %>
    <%= f.text_field :mcfmi, size: 5 %>
  </div>     
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :msf8mi, "***Monthly statement fee of $8.00 per month (online statements only)." %>
  </div>  
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :msf8mi, "Merchant's Initials" %>
    <%= f.text_field :msf8mi, size: 5 %>
  </div>
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :carch, "Car charger for VX610 Wireless Terminal: $125.00" %>
  </div>

  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <label class="checkbox-inline">
      <%= f.check_box :carch %>
      <%= f.label :carch, "Yes" %>
    </label>

    <label class="checkbox-inline">
      <%= f.check_box :carch %>
      <%= f.label :carch, "No" %>
    </label>
  </div>         

  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :carchmi, "Merchant's Initials" %>
    <%= f.text_field :carchmi, size: 5 %>
  </div>      
</fieldset>

<fieldset class="row text-left">
  <legend> <%= "Convenience Fee and Transaction Increments" %></legend>
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :confmi, "A convenience fee of $3.75 will be charged to the customer per transactions. Merchant share: N/A." %>
  </div>  
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :confmi, "Merchant's Initials" %>
    <%= f.text_field :confmi, size: 5 %>
  </div>   
 
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :incrmi, "All transactions are in $5.00 INCREMENTS ($5, $10, $15, $20, etc). Change will be given when needed." %>
  </div> 
  
  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <%= f.label :incrmi, "Merchant's Initials" %>
    <%= f.text_field :incrmi, size: 5 %>
  </div>     
</fieldset>

<fieldset class="row">
  <legend> <%= "Bill and Recurring Billing" %></legend>
  
  <article class="text-justify">
  <p><strong>*The appropriate cost of equipment will be debited from the merchant checking account.</strong></p>
  
  <p><strong>BPOB merchant accounts are automatically approved. If there is some unforeseen reason
     that the account is not approved all equipment cost will be refunded within 7 business days.</strong></p>
  
  <p>**Monthly Statement Fee: merchant statement fee is $12.00 per month, includes up to 5 rolls 
     of paper per month and insurance on equipment purchased from BPOB billed on the 1st of each month.</p>
  
  <p>***Monthly statement fee of $8.00 per month includes up to 5 rolls of paper per month.</p>
  
  <p>****Cellular Statement Fee: merchant statement fee is $34.95 per month, billed on the 1st 
     or 15th of each month depending on your start date. First & Last month is billed upfront: $69.90.</p>
  
  <p ><strong>Billing:</strong> Merchant will be notified by email of all billing. <strong> Merchant is responsible for supplying email that this information is to be sent to:</strong></p>
  </article>
  
  <div class="form-group col-sm-12">
    <%= f.label :billmail, "E-mail" %><br>
    <%= f.text_field :billmail, class: "form-control" %>
  </div>  
  
  <div class="form-group col-sm-8">
    <%= f.label :billosig, "Signature of Owner/Officer" %><br>
    <%= f.text_field :billosig, class: "form-control" %>
  </div>  
  
  <div class="form-group col-sm-4">
    <%= f.label :billdate, "Date" %><br>
    <%= f.text_field :billdate, class: "form-control" %>
  </div>    
     
  <div class="form-group col-sm-8">
    <%= f.label :billpn, "Print Name of Owner/Officer" %><br>
    <%= f.text_field :billpn, class: "form-control" %>
  </div>       
</fieldset>

<fieldset class="row">
  <legend> <%= "Bank Information" %></legend>
  
  <div class="form-group col-sm-12">
    <%= f.label :bankname, "Name of Bank" %><br>
    <%= f.text_field :bankname, class: "form-control" %>
  </div> 
  
  <div class="form-group col-sm-12">
    <%= f.label :bankaccount, "Account Number" %><br>
    <%= f.password_field :bankaccount, class: "form-control" %>
  </div>   
  
  <div class="form-group col-sm-12">
    <%= f.label :bankphone, "Phone Number" %><br>
    <%= f.text_field :bankphone, class: "form-control" %>
  </div>   
  

  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left upload">
    <%= f.label :voidcheck, "Voided Check" %><br>
    <p>Please upload a scanned copy of a voided check.</p>
    <%= f.file_field(:voidcheck, accept: 'image/png,image/gif,image/jpeg,image/jpg', class: "check") %></br>
    <%= f.hidden_field :voidcheck_cache %>
  </div>  
  
  <div class="image-preview check-preview col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
    <% if @application.voidcheck? %>
      <%= image_tag(@application.voidcheck_url, class: "img-responsive") %>
    <% else %>  
      <img/> 
    <% end %>       
  </div>

  <div class="form-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left upload">
    <%= f.label :dlicense, "Copy of Driver's License" %><br>
    <p class="help-block">Please upload a scanned copy of your Driver's License or Passport.</p>
    <%= f.file_field(:dlicense, accept: 'image/png,image/gif,image/jpeg,image/jpg', class: "license") %></br>
    <%= f.hidden_field :dlicense_cache %>
  </div>
  
  <div class="image-preview license-preview col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 upload-preview">
    <% if @application.dlicense? %>
      <%= image_tag(@application.dlicense_url, class: "img-responsive") %>
    <% else %>  
      <img/> 
    <% end %>   
  </div>       
</fieldset>

<fieldset class="row">
  <legend><%= "Merchant Terms and Agreement" %></legend>
  
  <article class="text-justify">
  <p><strong>Merchant</strong> agrees that all information provided on this form is accurate. If this information 
     proves to be otherwise merchant agrees to absorb all associated costs incurred to make any 
     necessary changes or adaptations in installation, etc.</p><br>
  
  <p><strong>When Phone Line or Internet Connection is Required</strong> the Merchant is responsible for ordering 
     the phone line installation unless Merchant signs authorization to order phone line and incurs all costs involved. 
     This authority extends to the selection or change of any telecommunications processing, switching or any 
     transaction authorization service.</p><br>
  
  <p><strong>BPOB Settlement</strong><br> The Merchant shall accept approved voucher receipts for payment of goods and 
     services and the approved amount will be deposited via ACH into the Merchant’s checking or savings account 
     typically within 3 to 4 business days from withdrawal.</p><br>
  
  <p><strong>Service Provider</strong><br> BPOB agrees to provide technical support and training needed for Merchant to 
     provide BPOB Services to his/her customers through use of our BPOB terminal.</p><br>
  
  <p><strong>Merchant Responsibilities</strong><br> The Merchant agrees to administer certain basic duties that maintain the equipment, 
     to include changing the paper, correcting paper jams, and keeping the unit clean. <strong>It is the Merchant’s 
     responsibility to settle the batch once a day.</strong> The Merchant will be responsible for providing a 110 AC line to 
     each unit, and the supply of a dial-up telephone connection. Long distance telephone service is not required. 
     The Merchant is responsible for contacting POB a minimum of 3-business days in advance of their need for thermal 
     paper. If paper is needed immediately, it is readily available at local office supply stores. The Merchant is 
     required to notify BPOB concerning any changes in ownership of the business and/ or any changes that affects 
     bank accounts</p><br>
  
  <p><strong>Term of the Processing Agreement</strong><br> The term of this processing agreement is three (3) years 
     and is automatically renewed each year thereafter, unless Agent or ISO is notified in writing of the intent to 
     cancel said contract. At time of renewal, a minimum 30-days’ notice from the anniversary date of signing said 
     contract is required. If Merchant closes the business, the contract will remain effective and will end three (3) 
     years from the day the contract was signed. The Merchant may reopen their business and continue to use said service 
     for the remainder of the processing agreement. BPOB, along with their agents, ISOs and partners cannot be held liable, 
     due to not being able to process merchant’s transactions for any reason. This includes, but not limited to, 
     problems with equipment, problems with phone or internet. BPOB has the right to cancel said contract for any 
     reason at the sole discretion of BPOB.</p><br>
  
  <p><strong>Cellular Service</strong><br> If you are using a wireless terminal that uses a SIM Card (ATT AS THE CARRIER). The SIM Card 
     must be received by BPOB with 10 days of canceling your Processing Agreement. If SIM Card is not received your 
     cellular service will continue to be billed on a monthly bases until the SIM Card is received.</p><br>
  
  <p><strong>The BPOB Terminal</strong><br> This equipment is similar in function to a cash ATM machine and offers most of the same 
    advantages. How it works . . . the cardholder “swipes” his card, indicates the amount of cash he wishes to 
    withdraw, and enters his confidential PIN number into the terminal or attached PIN pad. The terminal presents 
    the cardholder with a voucher which reports the cash withdrawal requested. The voucher is then presented to 
    the cashier for payment. The terminal will accept most all ATM cards that are linked to a PIN number. The 
    cardholder may have additional fees for this service, based on the cardholder’s bank.</p><br>
  
  <p><strong>By signing this agreement you indicate that you have read and agree to the terms of said contract.</strong></p>
  </article>
  
  <div class="form-group col-sm-6">
    <%= f.label :mtosig, "Signature of Owner/Officer" %><br>
    <%= f.text_field :mtosig, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-2">
    <%= f.label :mtot, "Title" %><br>
    <%= f.text_field :mtot, class: "form-control" %>
  </div>   
  
  <div class="form-group col-sm-4">
    <%= f.label :mtdate, "Date" %><br>
    <%= f.text_field :mtdate, class: "form-control" %>
  </div> 
  
  <div class="form-group col-sm-8">
    <%= f.label :mtpn, "Print Name of Owner/Officer" %><br>
    <%= f.text_field :mtpn, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :mtsasig, "Sales Agent Signature" %><br>
    <%= f.text_field :mtsasig, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :mtagentid, "Agent ID Number" %><br>
    <%= f.text_field :mtagentid, class: "form-control" %>
  </div>  
  
  <div class="form-group col-sm-6">
    <%= f.label :mtiso, "ISO Name" %><br>
    <%= f.text_field :mtiso, class: "form-control" %>
  </div>             
</fieldset>

<fieldset class="row">
  <legend>ACH Authorization Release</legend>
  
  <div class="form-group col-sm-12">
    <%= f.label :yname, "Your Name" %>
    <%= f.text_field :yname, class: "form-control" %>
    <p class="lead">hereby authorizes EFT Management to initiate ACH transfer entries for all of the following:</p>
    <ul class="lead text-left">
      <li>Credit</li>
      <li>Debit</li>
      <li>Transaction Settlement</li>
      <li>Adjustments</li>
      <li>Surcharge</li>
    </ul>
  </div>
  
  <p class="col-sm-12">These entries will be made through the account at:</p><br>
  
  <div class="form-group col-sm-12">
    <%= f.label :fname, "Financial Institution Name" %><br>
    <%= f.text_field :fname, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-12">
    <%= f.label :faddress, "Street Address" %><br>
    <%= f.text_field :faddress, class: "form-control" %>
  </div>  
  
  <div class="form-group col-sm-6">
    <%= f.label :fcity, "City" %><br>
    <%= f.text_field :fcity, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-2">
    <%= f.label :fstate, "State" %><br>
    <%= f.text_field :fstate, class: "form-control" %>
  </div> 
  
  <div class="form-group col-sm-4">
    <%= f.label :fzip, "Zip" %><br>
    <%= f.text_field :fzip, class: "form-control" %>
  </div> 
  
  <div class="form-group col-sm-6">
    <%= f.label :fphone, "Phone" %><br>
    <%= f.text_field :fphone, class: "form-control" %>
  </div>             

  <div class="form-group col-sm-12">
    <%= f.label :facc, "Account Title/Name" %><br>
    <%= f.text_field :facc, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :frn, "Routing Number" %><br>
    <%= f.text_field :frn, class: "form-control" %>
  </div>  
  
  <div class="form-group col-sm-6">
    <%= f.label :fan, "Account Number" %><br>
    <%= f.text_field :fan, class: "form-control" %>
  </div>

  
  <%= f.label "Type of Account", class: "account-type col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left" %>
  <div class="phone-line col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-left">
    <label class="radio-inline">
      <%= f.radio_button :atype, "Checking", id: "first" %>
      <%= f.label :atype, "Checking" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :atype, "Saving", id: "second" %>
      <%= f.label :atype, "Saving" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :atype, "Money Market", id: "third" %>
      <%= f.label :atype, "Money Market" %>
    </label>
    <label class="radio-inline">
      <%= f.radio_button :atype, "Credit Union", id: "fourth" %>
      <%= f.label :atype, "Credit Union" %>
    </label>
  </div>
  
  <p class="col-sm-12">Adjustment Notifications will be sent to you at the business 
    address or by email as listed below:</p><br> 
  
  <div class="form-group col-sm-8">
    <%= f.label :coname, "Company Name" %><br>
    <%= f.text_field :coname, class: "form-control" %>
  </div> 
  
  <div class="form-group col-sm-4">
    <%= f.label :coatt, "Attention" %><br>
    <%= f.text_field :coatt, class: "form-control" %>
  </div>   

  <div class="form-group col-sm-12">
    <%= f.label :coaddress, "Street Address" %><br>
    <%= f.text_field :coaddress, class: "form-control" %>
  </div>  
  
  <div class="form-group col-sm-6">
    <%= f.label :cocity, "City" %><br>
    <%= f.text_field :cocity, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-2">
    <%= f.label :costate, "State" %><br>
    <%= f.text_field :costate, class: "form-control" %>
  </div> 
  
  <div class="form-group col-sm-4">
    <%= f.label :cozip, "Zip" %><br>
    <%= f.text_field :cozip, class: "form-control" %>
  </div> 
  
  <div class="form-group col-sm-6">
    <%= f.label :cophone, "Phone" %><br>
    <%= f.telephone_field :cophone, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :comail, "Email" %><br>
    <%= f.email_field :comail, class: "form-control" %>
  </div>  
  
  <div class="form-group col-sm-8">
    <%= f.label :cosig, "Signature" %><br>
    <%= f.text_field :cosig, class: "form-control" %>
  </div>  
  
  <div class="form-group col-sm-4">
    <%= f.label :codate, "Date" %><br>
    <%= f.text_field :codate, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-12">
    <p>"PLEASE ATTACH A PRE-PRINTED VOIDED CHECK. BANK DRAFTS AND DEPOSIT SLIPS ARE NOT VALID. IF NO PRE-PRINT CHECK IS AVAILABLE, ATTACH A BANK LETTER IN PLACE OF PRE-PRINTED CHECK."</p><br>
  </div>  
</fieldset>

<fieldset class="row">
  <legend>EFT Management Use Only</legend>
  
  <div class="form-group col-sm-6">
    <%= f.label :verby, "Verified by:" %><br>
    <%= f.text_field :verby, class: "form-control" %>
  </div>
  
  <div class="form-group col-sm-6">
    <%= f.label :appby, "Approved by:" %><br>
    <%= f.text_field :appby, class: "form-control" %>
  </div>    
</fieldset>

<div class="actions">
  <%= f.submit "SUBMIT", class: "btn-black btn-lg" %>
</div>

</div>
<% end %>
