<div class="row">
<h1>Listing Applications</h1>
</br>

<div class="jumbotron col-md-10 col-md-offset-1 hidden-xs">
<% @applications.each do |application| %>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Business</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= application.id %></td>
      <td><%= application.oname %></td>
      <td><%= application.legalname %></td>
      <td><%= application.email %></td>
      <td><%= application.phone %></td>
    </tr>
  </tbody>
</table>

<div class="index-buttons">
  <%= link_to 'Show', application, class: "btn btn-primary" %>
  <%= link_to 'Edit', edit_application_path(application), class: "btn btn-warning" %>
  <%= link_to 'Destroy', application, method: :delete, 
  data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
<% end %>
<br>
<%= link_to 'New Application', new_application_path, class: "btn-black btn-lg" %>
</br>
</div>

<div class="jumbotron visible-xs">
<% @applications.each do |application| %>
	
<table class="table-bordered table-mobile-large">
  <thead>
    <tr>
      <th>Name</th>
      <th>Business</th>
    </tr>
   </thead>
   
   <tbody>
   	 <tr>
   	   <td><%= application.oname %></td>
   	   <td><%= application.legalname %></td>
   	 </tr>
   </tbody>
   
   <thead>
    <tr>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  
  <tbody>
  	<tr>
  	  <td><%= application.email %></td>
  	  <td><%= application.phone %></td>
  	</tr>
  </tbody>
</table>

<table class="table-bordered table-mobile-small">
  <thead>
     <tr>
       <th>Name</th>
     </tr>
  </thead>
  
  <tbody>
  	<tr>
  	  <td><%= application.oname %></td>
  	</tr>
  </tbody>
  
  <thead>
     <tr>
       <th>Business</th>
     </tr>
   </thead>
   
   <tbody>
   	 <tr>
   	   <td><%= application.legalname %></td>
   	 </tr>
   </tbody>
   
   <thead>
     <tr>
       <th>Email</th>
     </tr>
   </thead>
   
   <tbody>
     <tr>
       <td><%= application.email %></td>
     </tr>
   </tbody>
   
   <thead>
     <tr>
       <th>Phone</th>
     </tr>
  </thead>
  
  <tbody>
  	<tr>
  	  <td><%= application.phone %></td>
  	</tr>
  </tbody>
</table>

<div id="blk" class="index-buttons">
  <%= link_to 'SHOW', application, class: "btn btn-primary" %>
  <%= link_to 'EDIT', edit_application_path(application), class: "btn btn-warning" %>
  <%= link_to 'DELETE', application, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
<% end %>
<br>
<%= link_to 'New Application', new_application_path, class: "btn-black btn-lg" %>
</br>
</div>
</div>
