<div class="row">
  <h1><%= @user.firstname %> <%= @user.lastname %></h1>
</div>

<div class="row">
<div class='jumbotron col-md-10 col-md-offset-1' >
  <div class="text-left">
    <p>
      <strong>Business:</strong>
      <%= @user.business %>	
    </p>
  
    <p>
      <strong>Email:</strong>
      <%= @user.email %>	
    </p>
  
    <p>
      <strong>Phone:</strong>
      <%= @user.phone %>	
    </p>

    <div class="button-row">
      <%= link_to 'EDIT', edit_user_registration_path, class: "btn-black btn-lg" %>
    </div>
  </div>

	
  <h1>Griffen Application</h1>

<div id="appinst" class="text-left" style="margin-bottom: 3em">
  
  
  <p class="lead">To order a Griffen and legally process Visa and MasterCard 
  	              transactions for your business, please do the following:</p>
  
  <ol class="lead">
    <li>Complete the Merchant Application</li><br>
  
    <li>Complete the ACH agreement</li><br>  
  
    <li>Make sure you have all of your support documentation listed in the Merchant Documentation Requirements</li><br>
  
    <li>Submit your application for approval</li>
  </ol>
  
</div>


<h2>Application Checklist</h2>

<div class='checklist row'>
	
  <h3>Step 1: Merchant Application</h3>

  <div class="button-row">
    <%= link_to "START", new_application_path, class: "btn-black btn-lg" %>
    <%= link_to "EDIT", edit_application_path, class: "btn-black btn-lg" %>
    <%= link_to 'DELETE', @application, controller: ApplicationsController, 
    method: :destroy, data: { confirm: 'Are you sure?' }, class: "btn-square btn-danger btn-lg" %>  
  </div>
</div>

<div class='checklist row'>

  <h3>Step 2: ACH Agreement</h3>

  <div class="button-row">
    <%= link_to "START", new_ach_path, class: "btn-black btn-lg" %>
    <%= link_to "EDIT", edit_ach_path, class: "btn-black btn-lg" %>
    <%= link_to 'DELETE', @ach, controller: AchesController, 
    method: :destroy, data: { confirm: 'Are you sure?' }, class: "btn-square btn-danger btn-lg" %>
  </div>
</div>

<div class='checklist row'>

  <h3>Step 3: Required Documents</h3>

  <div class="button-row">
    <%= link_to "START", new_document_path, class: "btn-black btn-lg" %>
    <%= link_to "EDIT", edit_document_path, class: "btn-black btn-lg" %>
    <%= link_to 'DELETE', @document, controller: DocumentsController, 
    method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-square btn-danger btn-lg" %>
  </div>
</div>

<div class="break-black"></div>

<div class='sign-up-button'>
  <%= link_to "START ORDER", new_order_path, class: "btn-black btn-lg" %>
</div>

</div>
</div>
