<div class="row">
  <h1><%= @user.firstname %> <%= @user.lastname %></h1>
</div>

<div class="row">
<div class='jumbotron col-md-10 col-md-offset-1' >
  <div class="text-left">
    <p>
      <strong>Business:</strong>
      <%= @user.business %>	
    </p>
  
    <p>
      <strong>Email:</strong>
      <%= @user.email %>	
    </p>
  
    <p>
      <strong>Phone:</strong>
      <%= @user.phone %>	
    </p>

    <div class="button-row">
      <%= link_to 'EDIT', edit_user_registration_path, class: "btn-black btn-lg" %>
    </div>
  </div>

	
  <h1>Griffen Application</h1>

<div id="appinst" class="text-left" style="margin-bottom: 3em">
  
  
  <p class="lead">To order a Griffen and legally process Visa and MasterCard 
  	              transactions for your business, please do the following:</p>
  
  <ol class="lead">
    <li>Complete the Merchant Application</li><br>
  
    <li>Complete the ACH agreement</li><br>  
  
    <li>Make sure you have all of your support documentation listed in the Merchant Documentation Requirements</li><br>
  
    <li>Submit your application for approval and place an order</li>
  </ol>
  
</div>


<h2>Application Checklist</h2>

<div class='checklist row'>
  <h3>Step 1: Merchant Application</h3>

  <div class="button-row">
    <% if @application %>
      <%= link_to "SUBMIT", user_application_upload_path(@user), method: :post, multipart: true, 
      remote: true, data: { confirm: 'Are you ready to submit this document for review?'}, 
      class: "btn btn-lg btn-primary", id: "send-app-to-dropbox" %> 

      <%= link_to "EDIT", edit_user_application_path(@user), class: "btn btn-warning btn-lg" %>

      <%= link_to 'DELETE', [@application.user, @application], controller: ApplicationsController, 
      method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg" %>  
    <% else %>
      <%= link_to "START", new_user_application_path(@user), class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

  <div id="application-upload-bar">
    <% if @application %>
      <%= render 'progress_bar' %>
    <% end %>
  </div>
</div>

<div class='checklist row'>

  <h3>Step 2: ACH Agreement</h3>

  <div class="button-row">
    <% if @ach %>
      <%= link_to "SUBMIT", user_ach_upload_path(@user), method: :post, remote: true, multipart: true, 
      data: { confirm: 'Are you ready to submit this document for review?'}, 
      class: "btn btn-lg btn-primary", id: "send-ach-to-dropbox" %> 

      <%= link_to "EDIT", edit_user_ach_path(@user), class: "btn-black btn-lg" %>

      <%= link_to 'DELETE', [@ach.user, @ach], controller: AchesController, 
      method: :delete, data: { confirm: 'Are you sure?' }, 
      class: "btn-square btn-danger btn-lg" %>
    <% else %>
      <%= link_to "START", new_user_ach_path(@user), class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

  <div id="ach-upload-bar">
    <% if @ach %>
      <%= render 'progress_bar' %>
    <% end %>
  </div>
</div>

<div class='checklist row'>

  <h3>Step 3: Required Documents</h3>

  <div class="button-row">
    <% if @document %>
      <%= link_to "SUBMIT", user_document_upload_path(@user), method: :post, multipart: true, remote: true, 
      data: { confirm: 'Are you ready to submit this document for review?'}, 
      class: "btn btn-lg btn-primary", id: "send-doc-to-dropbox" %> 

      <%= link_to "EDIT", edit_user_document_path(@document), class: "btn-black btn-lg" %>

      <%= link_to 'DELETE', [@document.user, @document], controller: DocumentsController, 
      method: :delete, data: { confirm: 'Are you sure?' }, 
      class: "btn-square btn-danger btn-lg" %>
    <% else %>
      <%= link_to "START", new_user_document_path(@user), class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

  <div id="document-upload-bar">
    <% if @document %>
      <%= render 'progress_bar' %>
    <% end %>
  </div>
</div>

<div class="break-black"></div>

<h3>Step 4: Send Order</h3>

<div class='sign-up-button'>
  <% if @application and @ach and @document %>
    <%= link_to "START ORDER", new_user_order_path(@user), class: "btn-black btn-lg" %>
  <% else %>
    <h3>Your required documents are unfinished</h3>
  <% end %>
</div>

</div>
</div>

<script>
  var wrapper = $('#application-upload-bar').find('.progress-wrapper');
  var progress_bar = wrapper.find('.progress-bar');
  var bitrate = wrapper.find('.bitrate');
  var upload_link = $('#send-app-to-dropbox');
  upload_link.fileupload({datatype: 'script'});

  var main = function() {
    upload_link.on('fileuploadprogressall', function(e, data) {
      bitrate.text((data.bitrate / 1024).toFixed(2) + 'Kb/s');
      var progress = parseInt(data.loaded / data.total * 100, 10);
      progress_bar.css('width', progress + '%').text(progress + '%');
    });
  };

  $(document).ready(main);
</script>
