<div class="row">
<h1>Listing ACH Forms</h1>
</br>

<div class="jumbotron col-md-10 col-md-offset-1 hidden-xs">
<% @aches.each do |ach| %>
<div id="ach-table">
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Business</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= ach.id %></td>
      <td><%= ach.pname %></td>
      <td><%= ach.legalname %></td>
      <td><%= ach.email %></td>
      <td><%= ach.bphone %></td>
    </tr>
  </tbody>
</table>

<div class="index-buttons">
  <%= link_to 'EDIT', edit_user_ach_path(ach.user, ach), 
  class: "btn btn-warning" %>

  <%= link_to 'DELETE', [ach.user, ach], method: :delete, 
  data: { confirm: 'Are you sure?' }, 
  class: "btn btn-danger delete_ach" %>
</div>
</div>
<% end %>
<br>
</div>

<div class="jumbotron visible-xs">
<% @aches.each do |ach| %>
<div id="ach-table">
<table class="table-bordered table-mobile-large">
  <thead>
    <tr>
      <th>Name</th>
      <th>Business</th>
    </tr>
   </thead>
   
   <tbody>
   	 <tr>
   	   <td><%= ach.pname %></td>
   	   <td><%= ach.legalname %></td>
   	 </tr>
   </tbody>
   
   <thead>
    <tr>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  
  <tbody>
  	<tr>
  	  <td><%= ach.email %></td>
  	  <td><%= ach.bphone %></td>
  	</tr>
  </tbody>
</table>

<table class="table-bordered table-mobile-small">
  <thead>
     <tr>
       <th>Name</th>
     </tr>
  </thead>
  
  <tbody>
  	<tr>
  	  <td><%= ach.pname %></td>
  	</tr>
  </tbody>
  
  <thead>
     <tr>
       <th>Business</th>
     </tr>
   </thead>
   
   <tbody>
   	 <tr>
   	   <td><%= ach.legalname %></td>
   	 </tr>
   </tbody>
   
   <thead>
     <tr>
       <th>Email</th>
     </tr>
   </thead>
   
   <tbody>
     <tr>
       <td><%= ach.email %></td>
     </tr>
   </tbody>
   
   <thead>
     <tr>
       <th>Phone</th>
     </tr>
  </thead>
  
  <tbody>
  	<tr>
  	  <td><%= ach.bphone %></td>
  	</tr>
  </tbody>
</table>

<div id="blk" class="index-buttons">
  <%= link_to 'EDIT', edit_user_ach_path(ach.user, ach), 
  class: "btn btn-warning" %>

  <%= link_to 'DELETE', [ach.user, ach], method: :delete, 
  data: { confirm: 'Are you sure?' }, 
  class: "btn btn-danger delete_ach" %>
</div>
</div>
<% end %>
<br>
</div>
</div>
