<div class="row">
<h1>Listing Documents</h1>
</br>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Business</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr id="doc-row">
        <td><%= document.id %></td>
        <td><%= document.name %></td>
        <td><%= document.business %></td>
        <td><%= document.email %></td>
        <td><%= document.phone %></td>
        <td><%= link_to 'Edit', edit_user_document_path(document.user, document), class: "btn btn-warning" %></td>
        <td><%= link_to 'Delete', [document.user, document], method: :delete, 
          data: { confirm: 'Are you sure?' }, class: "btn btn-danger delete_doc" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
