<div class="row">
  <div class="page-img get-img col-md-10 col-md-offset-1">
    <h1>PRODUCTS</h1>
    <div></div>
  </div>
</div>

<div class="row">
  <h1>Financial Legitimacy for the Marijuana Industry</h1>
  <article>
    </br>
    <p class="text-justify lead">
      The legal marijuana industry is a rapidly changing 
      landscape with a bright future. Using current cashless 
      ATM systems and financial solutions that use opaque 
      offshore banks could land a promising legal marijuana 
      business with a financial black mark in the future. 
      The Griffen Solution offers the best way of moving 
      forward in compliance with the Department of Justice 
      guidelines for marijuana dispensaries and recreational 
      stores. Upon full decriminalization of marijuana, 
      businesses will be able to apply for merchant accounts 
      and relationships with credit cards and processors just 
      like anyone else, but until that time, the Griffen is 
      the best path towards financial legitimacy
    </p>
  </article>
  <div class="break"></div>
</div>

<div class="row hidden-xs">
  </br>
  <h2>Verifone Hardware</h2>
  
  <div class="product-spec col-sm-5 col-sm-offset-1 text-left p610">
    <%= render 'pages/p610' %>
  </div>
  
  <div class="hardware">
    <ul class="demo-2 effect v610">
      <li>
        <h2>Verifone 610</h2>
        <p>Click to learn more</p>
      </li>
      <li><%= image_tag("card_swipe.jpg", class: "top") %></li>
    </ul>      

    <ul class="demo-2 effect v510">
      <li>
        <h2>Verifone 510</h2>
        <p>Click to learn more</p>
      </li>
      <li><%= image_tag("verifone_reader.jpg", class: "top") %></li>
    </ul>
  </div>
  
  <div class="product-spec col-sm-5 col-sm-offset-1 text-left p510">
    <%= render 'pages/p510' %>
  </div>
  
  <div class="break"></div>
</div>

<div class="row visible-xs">
  </br>
  <h2>Verifone Hardware</h2>
  
  <ul class="demo-2 effect mobile-v610">
    <li>
      <h2>Verifone 610</h2>
      <p>Click to learn more</p>
    </li>
    <li><%= image_tag("card_swipe.jpg", class: "top") %></li>
  </ul>  
  
  <div class="product-spec text-left mobile-p610">
    <%= render 'pages/p610' %>
  </div>      

  <ul class="demo-2 effect mobile-v510">
    <li>
      <h2>Verifone 510</h2>
      <p>Click to learn more</p>
    </li>
    <li><%= image_tag("verifone_reader.jpg", class: "top") %></li>
  </ul>
  
  <div class="product-spec text-left mobile-p510">
    <%= render 'pages/p510' %>
  </div>
  
  <div class="break"></div>
</div>

<div class="row sign-up-button">
  <% if logged_in? %>
    <%= link_to "MY ACCOUNT", current_user, method: :get, class: "btn-black btn-lg" %>
  <% else%>
    <%= link_to "SIGN UP NOW", new_user_path, method: :get, class: "btn-black btn-lg" %>
  <% end %>
</div>