<div class="row">
<h1>Listing Documents</h1>
</br>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Business</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.id %></td>
        <td><%= document.name %></td>
        <td><%= document.business %></td>
        <td><%= document.email %></td>
        <td><%= document.phone %></td>
        <td><%= link_to 'Show', document, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_document_path(document), class: "btn btn-warning" %></td>
        <td><%= link_to 'Delete', document, method: :delete, 
          data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="sign-up-button">
  <%= link_to 'New Document', new_document_path, class: "btn-black btn-lg" %>
</div>
</div>
