<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div class='jumbotron index col-md-8 col-md-offset-2 hidden-sm hidden-xs'>

<% @products.each do |product| %>
<table class="table">
  <tr class="product-info">
    <td>
      <%= image_tag(product.image_url, class: 'list_image img-responsive') %>  
    </td>
    <td class="list_description">
      <dl>
        <dt><%= product.title %></dt>
        <dd><%= truncate(strip_tags(product.description), length: 400) %></dd>
      </dl>
    </td>
  </tr>
</table>

<div class="index-buttons">
  <%= link_to 'Show', product, class: "btn-black btn-lg" %>
  <%= link_to 'Edit', edit_product_path(product), class: "btn-black btn-lg" %>
  <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-black btn-lg" %>
</div>
<% end %>


<div id="blk">
<%= link_to "NEW PRODUCT", new_product_path, method: :get, class: "btn-black btn-lg" %>
</div>

</div>  

<div class='jumbotron index col-xs-12 hidden-md hidden-lg'>

<% @products.each do |product| %>
<div class="index-table-xs">
<table class="table">
  <tr class="info">
    <td>
      <%= image_tag(product.image_url, class: 'list_image img-responsive') %>  
    </td>
    <td class="list_description">
      <dl>
        <dt><%= product.title %></dt>
        <dd><%= truncate(strip_tags(product.description), length: 100) %></dd>
      </dl>
    </td>
  </tr>
</table>

<div id="blk" class="index-buttons">
  <%= link_to 'Show', product, class: "btn-black btn-lg" %>
  <%= link_to 'Edit', edit_product_path(product), class: "btn-black btn-lg" %>
  <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-black btn-lg" %>
</div>
</div>
<% end %>
<br />

<div id="blk">
<%= link_to "NEW PRODUCT", new_product_path, method: :get, class: "btn-black btn-lg" %>
</div>

</div>

