<footer class="col-md-12">
  <p>The Griffen Credit Card Reader</p>
  <ul class="hidden-xs">
  	<li><%= link_to "HOME", root_path %></li>
  	<li><%= link_to "ABOUT", pages_about_path %></li>
  	<li><%= link_to "PRODUCTS", pages_products_path %></li>
  	<li><%= link_to "CONTACT", pages_contact_path %></li>
  	<li><%= link_to "ACCOUNT", pages_account_path %></li>
  </ul>
  
  <div id="mjba">
  	<%= image_tag("MJBA.jpg") %>	
  </div>    
</footer>
