<div id="menu">    
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li><%= link_to "ABOUT", pages_about_path %></li>
    <li><%= link_to "PRODUCTS", pages_products_path %></li>
    <li><%= link_to "CONTACT", pages_contact_path %></li>
    
    <% if logged_in? and current_user.admin %>
      <li><%= link_to "DASHBOARD", admin_url %></li>
      <li><%= link_to "ORDERS", orders_path %></li>
      <li><%= link_to "ACH", aches_path %></li>
      <li><%= link_to "DOCUMENTS", documents_path %></li>
      <li><%= link_to "LINE ITEMS", line_items_path %></li>
      <li><%= link_to "USERS", users_path %></li>
      <li class="divider"></li>
      <li>
        <%= link_to "LOG OUT", logout_path, method: "delete" %>
      </li> 
         
    <% elsif logged_in? %>
      <li><%= link_to "PROFILE", current_user %></li>
      <li><%= link_to "SETTINGS", edit_user_path(current_user) %></li>
      <li class="divider"></li>
      <li>
        <%= link_to "LOG OUT", logout_path, method: "delete" %>
      </li>

    <% else %>
      <li><%= link_to "ACCOUNT", pages_account_path %></li>
    <% end %>
  </ul> 
</div>