<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Griffen Financial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/mobile_menu' %>
  
  <div id="wrapper">
    <div id="mobile-head" class="navbar-inverse hidden-md hidden-lg">
      <button type="button" class="btn btn-default" id="toggle-menu">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
    </div>  	

    <div class="container">
      <div class="row">
        <div id="logo">
          <%= image_tag("GriffenLogo.jpg") %>	
        </div>
      </div>
  
      <div class="row hidden-md hidden-lg" id="mobile-head-contact">
        <p class="col-xs-12">500 YALE AVE N</p>
        <p class="col-xs-12">SEATTLE, WA 98109</p>
        <p class="col-xs-12">999-888-7777</p> 
      </div>

      <div class="row hidden-xs hidden-sm"> 
        <div id="head-contact">
          <p>500 YALE AVE N</p>
          <p id="contact-center">SEATTLE, WA 98109</p>
          <p>999-888-7777</p>
        </div>          
      </div>

      <div class='row hidden-xs hidden-sm'>	
        <%= render 'layouts/navigation' %> 
      </div>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <% if admin_signed_in? and current_admin.god_mode? %>
            <p id="godModeNotice">CROM MODE ACTIVE!</p>
          <% end %>
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
        </div>
        <% if !admin_signed_in? && !user_signed_in? %>
          <div class="col-sm-6 col-sm-offset-3 well">
            <p>Here to evaluate the site?  Click on Account/Admin and use this login:</p>
            <p><strong>Email:</strong> jbones@example.com, <strong>Password:</strong> $T1000%sn</p>
          </div>
        <% end %>
      </div>

      <%= yield %>
    
    </div>
  </div>

  <%=  render 'layouts/footer' %>
  
</body>
</html>
